/* https://developer.mozilla.org/pt-BR/docs/Learn/CSS/CSS_layout/Flexbox */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    flex-flow: row wrap;
    /* align-content: space-between; */
    background: yellow;
    /* width: 200px; */
    /* gap: 30px; */
}

.flex-item {
    flex-grow: 1;
    flex-basis: 320px;
    height: 200px;
    width: 32%;
    color: #fff;
    background: red;
    /* margin-bottom: 2%; */
    /* margin: 10px; */
}

/* .flex-item:nth-child(3) {
    font-size: 40px;
} */